/*
This profile is made to run the the preprocesing pipeline in a cluster related to the profile in this script
or in local if the local profile is selected 
*/ 
profiles {
    //configure 2 profiles 

    //local running 
    local {
        process{
            executor = 'local'
            cpus = 8
            memory = '16 GB'
        }
    }

    //One for sungride engine
    sge{
        //general configuration for all process
        process{
            executor = "sge"
            penv ="smp"
            cpus = 4
            memory = '40 GB'
            clusterOptions = "-q default -cwd -l h_rt=05:00:00"
        }
    }
}